.form-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 30px;
  margin-bottom: 30px;
}

.actions {
  display: flex;
  gap: 40px;
}

.submit {
  height: 48px;
}

.fieldset {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.resend-code {
  padding: 0;
  align-items: center;
  width: fit-content;
  display: flex;
  flex-direction: column;
}
