.catalog {
  padding: 0.5rem 2rem;
  height: calc(100vh - (5vh + 3vh));
  position: relative;
}

.pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  bottom: 20px;
  right: 0;
  position: absolute;
}

.navigation-button {
  width: 32px !important;
  height: 32px !important;
  border-radius: 10px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px !important;
  padding: 0 !important;
}

.pages {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.page {
  font-size: 18px;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  font-weight: 500;
  cursor: pointer;
}

.current-page {
  color: var(--indicator-attention);
  font-weight: 800;
}

@media (width <= 400px) {
  .navigation-button {
    width: 24px !important;
    height: 24px !important;
    border-radius: 8px !important;
  }

  .pages {
    gap: 4px;
  }

  .page {
    font-size: 16px;
    width: 20px;
    height: 20px;
  }
}
