*,
::after,
::before {
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans', sans-serif;
  background-color: var(--bg-primary);
  color: var(--text-primary);
  font-size: 1rem;
}

.free-shipping {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3vh;
  z-index: 100;
  overflow: hidden;
  background: #000;
  color: var(--indicator-attention);
  font-weight: 700;
  padding: 0.75rem 2rem;
  text-transform: uppercase;
  text-overflow: clip;
  white-space: nowrap;
  display: flex;
  align-items: center;
  user-select: none;
  gap: 2rem;
}

.header {
  position: fixed;
  top: 3vh;
  left: 0;
  width: 100%;
  height: 5vh;
  z-index: 100;
  background: var(--bg-primary);
  display: flex;
  justify-content: space-between;
  padding: 0 2.5rem;
  align-items: center;
}

main {
  padding-top: calc(5vh + 3vh);
  min-height: 100vh;
}

a {
  color: var(--text-primary);
  text-decoration: none;
}

.header__title,
.footer__title {
  margin: 0;
  font-size: 2rem;
  font-weight: 400;
}

.header__actions {
  display: flex;
  width: 24rem;
  justify-content: space-between;
  align-items: center;
}

.header__search,
.header__favored,
.header__cart {
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__login {
  text-align: center;
  border-radius: 1.5rem;
  border: 1px solid var(--text-primary);
  padding: 0.25rem 1.25rem;
  width: 9rem;
  transition: color 0.2s ease-in-out;

  &:hover {
    color: var(--text-secondary);
  }
}

.header__menu {
  background: none;
  text-align: center;
  border-radius: 1.5rem;
  border: 1px solid var(--text-primary);
  outline: none;
  padding: 0.25rem 1.5rem;
  transition: color 0.2s ease-in-out;
  cursor: pointer;

  &:hover {
    color: var(--text-secondary);
    background: none;
  }
}

.footer {
  background: #000;
  padding: 2rem 3rem;
}

.footer__title {
  color: var(--text-invert);
}

.footer_information {
  margin-top: 40px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.information__section {
  display: flex;
  flex-direction: column;
  row-gap: 1.25rem;
}

.heading {
  min-width: 20rem;
  background: var(--bg-primary);
  color: #000;
  padding: 0.5rem 2rem;
  border-radius: 2rem;
  border: 1px solid var(--text-invert);
  font-weight: 600;
}

.information {
  min-width: 20rem;
  background: #000;
  color: var(--text-invert);
  padding: 0.5rem 2rem;
  border-radius: 1rem;
  border: 1px solid var(--text-invert);
  font-weight: 400;
}

.multi-information {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;

  > a {
    color: var(--text-invert);
    width: 100%;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    border: 1px solid var(--text-invert);
    font-weight: 400;
  }
}

@media (width <= 900px) {
  .header {
    padding: 0 1.5rem;
  }

  .header__actions {
    width: 25rem;
  }

  .header__title,
  .footer__title {
    font-size: 1.5rem;
  }

  .heading,
  .information {
    min-width: 100%;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
  }

  .multi-information {
    flex-direction: column;
    gap: 1rem;

    > a {
      width: 100%;
      padding: 0.5rem 1rem;
      border-radius: 2rem;
    }
  }
}

@media (width <= 600px) {
  .header__actions {
    width: 12rem;
    justify-content: center;
    gap: 1rem;

    a {
      display: none;
    }
  }

  .footer_information {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (width <= 400px) {
  .header__login,
  .header__menu {
    border-radius: 1rem;
    font-size: 0.875rem;
  }

  .header__actions {
    width: 10rem;
  }

  .header__title,
  .footer__title {
    font-size: 1.25rem;
  }
}
