:root {
  --bg-primary: #fff;
  --bg-secondary-rgb: 240, 238, 244;
  --bg-secondary: #e7e6eb;
  --bg-tertiary: #d8d8dd;
  --text-invert: #fff;
  --text-primary: #000;
  --text-secondary: #0e1217;
  --text-tertiary: #161a21;
  --text-quaternary: #31353b;
  --indicator-error: #f64c4c;
  --indicator-attention: #ffb219;
  --indicator-positive: #40bf7f;
}
