:root {
  --bg-primary: #fff;
  --bg-secondary-rgb: 240, 238, 244;
  --bg-secondary: #f0eef4;
  --bg-tertiary: #e7e7ee;
  --text-invert: #fff;
  --text-primary: #000;
  --text-secondary: #0e1217;
  --text-tertiary: #14181f;
  --text-quaternary: #1d2229;
  --indicator-error: #f64c4c;
  --indicator-attention: #ffb219;
  --indicator-positive: #40bf7f;
}
