.title {
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: capitalize;
  color: var(--text-primary);
}

.sub-title {
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  text-transform: capitalize;
  color: var(--text-secondary);
}

.title-regular {
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  color: var(--text-primary);
}

.body {
  font-family: 'Noto Sans', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-primary);
}

.title-body {
  font-family: 'Noto Sans', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  color: var(--text-secondary);
}

.sub-body {
  font-family: 'Noto Sans', sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  color: var(--text-tertiary);
}
